@import url(./main.css);
body {
    background-image: url(../images/patron.webp);
    background-repeat: repeat;
    background-size: 40px;
    background-position: 0 10px;
    box-shadow: 0 0 0 10px #fff inset;
    background-attachment: fixed;
    backface-visibility: hidden;
}
.formulario {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 4rem 2rem;
    padding: 0;
}

.registro {
    margin: 1rem;
    text-align: center;
    height: 40px;
    border-radius: 6px;
    border-color: #ffdee0;
}
.datos-info { 
    color: rgb(0, 0, 0);
    background: rgb(254, 231, 231);
    border-radius: 20px;    
    width: 50%;
    padding: 2.5rem 4rem 2.5rem 0 ;
    text-align: end;
   
}
.calendario{
    margin: .8rem 1.5rem;
    height: 45px;
}
.btn{
    font-weight: 700;
    color: #894DAD;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}
.btn:hover{
    background-color: #e2f1f8;
    color: #242424;
    transform: scale(1.1);
}
.horas-formularios{
    margin: 1.2rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background: rgb(254, 231, 231) ;
}
.hora-formulario{
    margin: 1rem 2.2rem;
    cursor: pointer;
    transition: .5s;
    color: rgb(27, 26, 26);
    background:rgb(255, 237, 237);
    padding: .3rem;
    border-radius: 8px;
}
.hora-formulario:hover{
    color: rgb(0, 0, 0);
    background: rgb(252, 195, 203);
    padding: .3rem;
    margin: 1rem 1.5rem;
}
.servicios-opciones {
    font-size: 1.5rem;
    margin: 4rem 1rem;
}
