@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
body{
    background-color: #FFF6F4 ;
}
.header{
    background-color: #FFA69C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0,5s;
}
.header .logo img:hover{
    transform: scale(1.1);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header.nav-links li li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #242424;
    text-decoration: none;
}
.header .nav-links li a:hover{
    color: #894DAD;
}
.header .btn button{
    font-weight: 700;
    color: #894DAD;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn button:hover{
    background-color: #e2f1f8;
    color: #242424;
    transform: scale(1.3);
}


