
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
body{
    background-color: #FFF6F4 ;
}
.header{
    background-color: #ffdcdc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 5px 10%;
}
.header .logo-header{
    cursor: pointer;
    
}
.header .logo-header img{
    height: 100px;
    width: auto;
}
.header .logo-header img:hover{
    transform: scale(1.1);
    transition: all 0.3s;

}
.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links li:hover{
    transform: scale(1.1);
    transition: 0.3s;
    
}

.header .nav-links a{
    font-size: 700;
    color: #242424;
    text-decoration: none;
}
.header .nav-links li a:hover{
    color: #894DAD;
}
.header .btn button{
    font-weight: 700;
    color: #894DAD;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}
.header .btn button:hover{
    background-color: #e2f1f8;
    color: #242424;
    transform: scale(1.1);
}
.nav_toggle{
    display: none; /* Por defecto, ocultamos el icono de hamburguesa en pantallas grandes */
    flex-direction: column;
    cursor: pointer;
}
@media (max-width: 1081px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links{
        position: absolute;
        top: 105px;
        background: #ffdcdc;
        display: flex;
        flex-direction: column;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateX(-100%);
        transition: 0.4s ease all;
        
    }
    .nav-links li{
        text-align: center;
        margin: 1%;
    }
    .nav_toggle{
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }
    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: black;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .close span{
        transform: rotate(45deg) translate(0px,0px);
    }
    .close span:nth-child(2){
        display: none;
    }
    .close span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }
    .open {
        transform: translateX(0) !important;
        transform: translateY(0) !important;
    }
}
.footer-inner{
    background-color: #ffdcdc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-inner .logo{
    display: flex;
    margin-left: 2rem;
}
.redes {
    display: flex;
    margin-right: 2rem;
    gap: 1rem;
}
@media(max-width: 1081px){
    .footer-inner{
        flex-direction: column;
        align-items: center;
    }
}

/* Yecid*/

.secciones {
    display: flex;
    margin: 50px;
    justify-content: center;
}

.contenedor-principal {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 auto;
}

.tam-image {
    max-width: 100%;
    height: auto;
}

.informa-curso {
    font-size: 18px;
    margin-top: 10px;
}

.titulo-talleres{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.listas-def {

}