@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url(/css/main.css);

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
} */


.titulo a{
    text-decoration: none;
    color: #242424;
}
.titulo a:hover{
    color:#da62ac;
    transition: 0,5s;
}
.titulo:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


.secciones {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}



.contenedor-principal {
    width: 300px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.tam-image {
    max-width: 100%;
    height: auto;
}

.informa-curso {
    font-size: 18px;
    margin-top: 10px;
}

.titulo-talleres{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.precio{
    margin-top: 1rem;
    font-weight: bolder;
}
