@import url(./main.css);
h1 {
    text-align: center;
    margin: 2rem 0rem;
    font-size: 2rem;
    padding: 0;
}

.productos_esmaltes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    margin: 0;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    width: 200px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: scale(1.1);
}

.producto img {
    max-width: 100%;
    height: auto;
}