@import url(./main.css);
body {
    background: #ffdcdc;
    padding: 4rem;
}
.container-items {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem;
    justify-content: space-around;
    gap: 20px;
}
.item {
    background: #fcd7d7;
    border-radius: 10px;
    width: 30%;
    transition: transform 0.5s, box-shadow 0.5s;
}
.item:hover {
    transform: scale(1.09);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
.item img {
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    width: 100%;
    height: 280px;
    border-radius: 20px;
    transition: transform 0.5s;
}

.item:hover img {
    transform: scale(1.1);
}

.info-product {
    padding: 15px;

}
.price {
    font-size: 18px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background: #894DAD;
    color: #fff;
    padding: 15px 15px;
    cursor: pointer;
}
