@import url(./main.css);
body {
    background: #ffdcdc;
    color: black;
}
h1 {
    text-align: center;
    margin: 1.5rem 0rem 0rem 0rem;
    font-size: 2rem;
    padding: 0;
}
/* categorias, lado izquierdo*/
.categorias {
    list-style: none;
    padding: 0;
    background-color: #ffdcdc;
}
.categorias-list {
    margin: 3rem 3rem 3rem 0rem;
}

.categorias a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
}

.categorias a:hover {
    color: #e44d26; 
}


.productos_esmaltes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    margin: 0rem .5rem;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    width: 200px;
    margin: 5px 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: scale(1.1);
}

.producto img {
    max-width: 100%;
    height: auto;
}
